header h1#logoqj:hover a{
	color:#323232 !important;
	font-size:14px !important;
	font-family:"Microsoft YaHei","微软雅黑",sans-serif,sihei-Light;
} 

#logoqj a{
	color:#afafaf !important;
} 

#logoqj a{
	color:rgb(85, 88, 93) !important;
} 

a:link, a:visited{
	color:#afafaf !important;
	text-decoration:none;
} 

a:link, a:visited{
	color:#000000;
	text-decoration:none;
} 


a, h1, h2, h3, p, kbd, code, dt, dd, li, div, button{
	font-family:Dosis,Open Sans,pingfang SC,helvetica neue,arial,hiragino sans gb,microsoft yahei ui,microsoft yahei,simsun,sans-serif;
} 

a, span, input{
	transition:all 0.5s;
} 

a{
	text-decoration:none;
	color#394a58;
} 

*{
	margin:0;
	padding:0;
	list-style-image:none;
	list-style-type:none;
} 

*{
	margin:0;
	padding:0;
	list-style-image:none;
	list-style-type:none;
} 
header h1#logoqj:hover{
	font-size:14px;
	color:white;
	font-weight:400;
	color:#afafaf;
} 

header h1#logoqj:hover{
	font-size:14px;
	color:white;
	font-weight:400;
	color:#ffffff;
} 

header h1#logoqj{
	font-size:12px;
	color:white;
	font-weight:400;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
} 
.clearfix::after{
	visibility: hidden;
}

h1, h2, h3{
	font-weight:normal;
}